@import "tailwindcss";

:root {
    --background: #001E26;
    --foreground: #FFFFFF;
}

* {
    box-sizing: border-box;
    letter-spacing: 0.25px;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-standard), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header), serif;
}

span {
    font-family: inherit;
}
